{% extends 'base.html' %}


{% block head %}

{% endblock %}

<!-- --------------------------------SUBHEADING------------------------------------------- -->
{% block body %}
<div id="container">
  <div class="left">
    <h2>Customers</h2>
    <p>[Create, Read, Update, and Delete for Customers]</p>
    <p>Keeps track of the customers with following attributes.</p>
  </div>
</div>
<!-- -----------------------------------TABLE---------------------------------------- -->
<table style="width: 100%">
  <tr>
    {% for key in customers[0].keys() %}
    <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for person in customers %}
  <tr>
    {% for key in person.keys() %}
    <td>{{person[key]}}</td>
    {% endfor %}
    <td>
      <a href="{{ url_for('customers') }}">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<!-- ---------------------------------FORM------------------------------------------ -->
<form id=customers action="/add_customers" method="POST">
  <input type="text" placeholder="first_name" name="first_name" required>
  <input type="text" placeholder="last_name" name="last_name" required>
  <input type="text" placeholder="address" name="address" required>
  <input type="text" placeholder="phone_number" name="phone_number">
  <input type="submit" value="Submit">
</form>
{% endblock %}
