<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <img src="images/logo.gif" />
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="customers.html">Customers</a></li>
        <li><a href="orders.html">Orders</a></li>
        <li><a href="transactions.html">Transactions</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="employees.html">Employees</a></li>
        <!-- <li><a href="transaction_employee.html">Transaction Employee</a></li> -->
      </ul>
    </nav>
<!-- --------------------------------------------------------------------------- -->
    <div id="container">
      <div class="left">
        <h2>Customers</h2>
        <p>Create, Read, Update, and Delete for Customers</p>
      </div>
<!-- --------------------------------------------------------------------------- -->
    <div id="container">
      <div class="left">
        <h3>Search by Name</h3>
        <input type="text" id="input" placeholder="First Name" title="FName">
        <input type="text" id="input" placeholder="Last Name" title="LName">
        <td><input type="button" id="btn' + i + '" value="Search"></td>
      </div>
<!-- --------------------------------------------------------------------------- -->
        <p>Keeps track of the customers with following attributes.</p>
        <table style="width:100%">
          <tr>
            <th>PK: customer_id</th>
            <th>first_name</th> 
            <th>last_name</th>
            <th>address</th>
            <th>phone_number</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Bruce</td>
            <td>Wayne</td>
            <td>324 Wave St.</td>
            <td>111-111-1111</td>
            <td><input type="button" id="btn' + i + '" value="VIEW"></td>
            <td><input type="button" id="btn' + i + '" value="UPDATE"></td>
            <td><input type="button" id="btn' + i + '" value="DELETE"></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Clark</td>
            <td>Kent</td>
            <td>999 54th Ave.</td>
            <td>222-222-2222</td>
            <td><input type="button" id="btn' + i + '" value="VIEW"></td>
            <td><input type="button" id="btn' + i + '" value="UPDATE"></td>
            <td><input type="button" id="btn' + i + '" value="DELETE"></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Harold</td>
            <td>Jordan</td>
            <td>444 Wall St.</td>
            <td>333-333-3333</td>
            <td><input type="button" id="btn' + i + '" value="VIEW"></td>
            <td><input type="button" id="btn' + i + '" value="UPDATE"></td>
            <td><input type="button" id="btn' + i + '" value="DELETE"></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Steve</td>
            <td>Rogers</td>
            <td>888 Neverville St.</td>
            <td>444-444-4444</td>
            <td><input type="button" id="btn' + i + '" value="VIEW"></td>
            <td><input type="button" id="btn' + i + '" value="UPDATE"></td>
            <td><input type="button" id="btn' + i + '" value="DELETE"></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Carol</td>
            <td>Danvers</td>
            <td>222 Harvard Way</td>
            <td>555-555-5555</td>
            <td><input type="button" id="btn' + i + '" value="VIEW"></td>
            <td><input type="button" id="btn' + i + '" value="UPDATE"></td>
            <td><input type="button" id="btn' + i + '" value="DELETE"></td>
          </tr>
          <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td><input type="button" id="btn' + i + '" value="VIEW"></td>
            <td><input type="button" id="btn' + i + '" value="UPDATE"></td>
            <td><input type="button" id="btn' + i + '" value="DELETE"></td>
          </tr>
        </table>
<!-- --------------------------------------------------------------------------- -->
      <form action="[LINK TO SEND INFO TO]">
        <input
          type="text"
          placeholder="first_name"
          name="name"
          required
        /><br />
        <input type="text" placeholder="last_name" name="name" required /><br />
        <input
          type="text"
          placeholder="address"
          name="address"
          required
        /><br />
        <input
          type="text"
          placeholder="phone_number"
          name="phone"
          required
        /><br />
        <button type="button" class="btn">CREATE</button>
      </form>
<!-- --------------------------------------------------------------------------- -->
    </div>
  </body>
</html>
