{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div id="container">
  <div class="left">
    <h2>Orders</h2>
    <p>[Create, Read, Update, and Delete for Orders]</p>
    <p>Tracks customers to which the orders belong.</p>
  </div>
</div>
<!-- --------------------------------------------------------------------------- -->
<table style="width: 100%">
  <tr>
    <th>PK: order_id</th>
    <th>FK1: customer_id</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <a href="">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
</table>
<br>
<!-- --------------------------------------------------------------------------- -->
<form action="/customers" method="POST">
  <input type="text" placeholder="FK1: customer_id" name="FK1: customer_id">
  <input type="submit" value="CREATE">
</form>
{% endblock %}
