{% extends 'base.html' %}


{% block head %}

{% endblock %}

<!-- --------------------------------SUBHEADING------------------------------------------- -->
{% block body %}
<div id="container">
  <div class="left">
    <h2>Orders</h2>
    <p>[Create, Read, Update, and Delete for Orders]</p>
    <p>Tracks customers to which the orders belong.</p>
  </div>
</div>
<!-- -----------------------------------TABLE---------------------------------------- -->
<table style="width: 100%">
  <tr>
    {% for key in orders[0].keys() %}
    <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for order in orders %}
  <tr>
    {% for key in order.keys() %}
    <td>{{order[key]}}</td>
    {% endfor %}
    <td>
      <a href="{{ url_for('orders') }}">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<!-- ---------------------------------FORM------------------------------------------ -->
<form id=orders action="/add_orders" method="POST">
  <input type="text" placeholder="FK1: customer_id" name="FK1: customer_id">
  <input type="submit" value="Submit">
</form>
{% endblock %}
