{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div id="container">
  <div class="left">
    <h2>Products</h2>
    <p>[Create, Read, Update, and Delete for Products]</p>
    <p>When a person places an order this tracks the different products in the order and quantity.</p>
  </div>
</div>
<!-- --------------------------------------------------------------------------- -->
<table style="width: 100%">
  <tr>
    <th>PK: product_id</th>
    <th>product_name</th>
    <th>unit_price</th> 
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a href="">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
</table>
<br>
<!-- --------------------------------------------------------------------------- -->
<form action="/customers" method="POST">
  <input type="text" placeholder="product_name" name="product_name">
  <input type="text" placeholder="unit_price" name="unit_price">
  <input type="submit" value="CREATE">
</form>
{% endblock %}
