{% extends 'base.html' %}


{% block head %}

{% endblock %}

<!-- --------------------------------SUBHEADING------------------------------------------- -->
{% block body %}
<div id="container">
  <div class="left">
    <h2>Products</h2>
    <p>[Create, Read, Update, and Delete for Products]</p>
    <p>When a person places an order this tracks the different products in the order and quantity.</p>
  </div>
</div>
<!-- -----------------------------------TABLE---------------------------------------- -->
<table style="width: 100%">
  <tr>
    {% for key in products[0].keys() %}
    <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for product in products %}
  <tr>
    {% for key in product.keys() %}
    <td>{{product[key]}}</td>
    {% endfor %}
    <td>
      <a href="{{ url_for('products') }}">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<!-- ---------------------------------FORM------------------------------------------ -->
<form id=products action="/add_products" method="POST">
  <input type="text" placeholder="product_name" name="product_name">
  <input type="text" placeholder="unit_price" name="unit_price">
  <input type="submit" value="Submit">
</form>
{% endblock %}
