{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div id="container">
  <div class="left">
    <h2>Transactions</h2>
    <p>[Create, Read, Update, and Delete for Transactions]</p>
    <p>Tracks order_id, product_id, and quantity of the products. Acts as
      an intersection table between Products and Orders.</p>
  </div>
</div>
<!-- --------------------------------------------------------------------------- -->
<table style="width: 100%">
  <tr>
    <th>PK: transaction_id</th>
    <th>FK1: order_id</th>
    <th>FK2: product_id</th>
    <th>quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a href="">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
</table>
<br>
<!-- --------------------------------------------------------------------------- -->
<form action="/customers" method="POST">
  <input type="text" placeholder="FK1: order_id" name="FK1: order_id">
  <input type="text" placeholder="FK2: product_id" name="FK2: product_id">
  <input type="text" placeholder="quantity" name="quantity">
  <input type="submit" value="CREATE">
</form>
{% endblock %}
