{% extends 'base.html' %}


{% block head %}

{% endblock %}

<!-- --------------------------------SUBHEADING------------------------------------------- -->
{% block body %}
<div id="container">
  <div class="left">
    <h2>Transactions</h2>
    <p>[Create, Read, Update, and Delete for Transactions]</p>
    <p>Tracks order_id, product_id, and quantity of the products. Acts as
      an intersection table between Products and Orders.</p>
  </div>
</div>
<!-- -----------------------------------TABLE---------------------------------------- -->
<table style="width: 100%">
  <tr>
    {% for key in transactions[0].keys() %}
    <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for transaction in transactions %}
  <tr>
    {% for key in transaction.keys() %}
    <td>{{transaction[key]}}</td>
    {% endfor %}
    <td>
      <a href="">VIEW</a>
      <a href="">UPDATE</a>
      <a href="">DELETE</a>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<!-- ---------------------------------FORM------------------------------------------ -->
<form action="/form" method="POST">
  <input type="text" placeholder="FK1: order_id" name="FK1: order_id">
  <input type="text" placeholder="FK2: product_id" name="FK2: product_id">
  <input type="text" placeholder="quantity" name="quantity">
  <input type="submit" value="CREATE">
</form>
{% endblock %}
